@model WebApplication2.Models.storemodel

@{
    ViewData["Title"] = "Create Category";
}



@Html.AntiForgeryToken()




<div class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-md-12 col-xs-12">

            <div id="messages"></div>

            <div class="col-md-12 col-xs-12">
                <div id="messages"></div>
                <button class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="true" aria-controls="multiCollapseExample1">Add store<div class="ripple-container"></div></button>
@using (Html.BeginForm())
{
                <div class="row">
                    <div class="col">
                        <div class="collapse multi-collapse " id="multiCollapseExample1">
                            <div class="card card-body">
                                <div class="form-group">
                                    <label for="brand_name">Store Name</label>
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Category name" ,@autocomplete="off",@required="true"} })
                                </div>
                                <div class="form-group">
                                    <label for="active">Status</label>
                                    @Html.DropDownListFor(Model => Model.status, new List<SelectListItem>
                                    {
                                    new SelectListItem{ Text="Active",   Value = "1" },
                                    new SelectListItem{ Text="InActive", Value = "2" },
                                    }, new { @class = "form-control" })
                                    <button class="btn btn-default" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="true" aria-controls="multiCollapseExample1">Close<div class="ripple-container"></div></button>
                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>

                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">Manage Stores</h3>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <table id="manageTable" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Store name</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            try
                                            {

                                                foreach (var item in Model.getdata)
                                                {
                                                    <tr role="row">

                                                        <td>@Html.DisplayFor(Model => item.Name)</td>
                                                        @if (item.status == 1)
                                                        {
                                                            <td>Active</td>
                                                        }
                                                        else
                                                        {
                                                            <td>InActive</td>
                                                        }

                                                    </tr>
                                                }

                                            }
                                            catch { }
                                        }

                                    </tbody>
                                </table>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>
                    <!-- col-md-12 -->
                </div>
                <!-- /.row -->
}
            </div>
        </div>
    </div>

                </div>
